@import url('https://fonts.googleapis.com/css?family=Gaegu');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #dedede;
    color: #333;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
}

.catlistcontainer{
    flex-basis: 20%;
    background-color: #efefef;
    height: 100vh;
}

h1, h2{
    text-align: center;
    font-family: 'Gaegu', cursive;
}

.catlist{
    list-style: none;
    margin: 0;
    padding: 0;
}

.cat_list--selected{
  background-color: #3240bd;
  color: #fff;
  font-weight: 600;
}

.cat_list{
  font-family: 'Gaegu', cursive;
  font-size: 1.25em;
  text-align: center;
}

.cat_list:hover{
  background-color: #fff;
  cursor: pointer;
  color: #000;
}


#catdetailscontainer{
  flex-basis: 75vh;
}

.cat-entry{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  max-width: 400px;
  margin: 0 auto;
}

span{
  text-align: center;
  font-family: 'Gaegu', cursive;
  font-weight: bold;
  font-size: 20px;
}



#catimage{
  margin-top: 5px;
  margin-left: 5px;
  width: 470px;
  height: 500px;
}
